Count: <%= @count %>
<button phx-click="dec">-</button>
<button phx-click="inc">+</button>

<%= live_component CounterWeb.CounterComponent, id: '1', initial_count: 123 %>
<%= live_component CounterWeb.CounterComponent, id: '2', initial_count: 2 %>
